ALLOW_EMPTY_PASSWORD=yes
MARIADB_EXTRA_FLAGS='--max-connect-errors=1000 --max_connections=155'
MARIADB_CHARACTER_SET=utf8
MARIADB_COLLATE=utf8_general_ci
MARIADB_ROOT_USER=
MARIADB_ROOT_PASSWORD=
MARIADB_PORT_NUMBER=3306

MARIADB_SKIP_TEST_DB=yes

MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

# Logging slow queries
MARIADB_ENABLE_SLOW_QUERY=0
MARIADB_LONG_QUERY_TIME=10.0

# Filesystem needs to get ready?
MARIADB_INIT_SLEEP_TIME=

# Clustering
MARIADB_REPLICATION_MODE=
MARIADB_REPLICATION_USER=
MARIADB_REPLICATION_PASSWORD=
MARIADB_REPLICATION_PASSWORD_FILE=

MARIADB_MASTER_HOST=
MARIADB_MASTER_PORT_NUMBER=
MARIADB_MASTER_ROOT_USER=
MARIADB_MASTER_ROOT_PASSWORD=